<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs framework | <%= title %></title>
</head> -->
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <!-- <nav>
        <div class="site-title">
         <a href="/"><h1>Blog Yashar</h1></a>
         <p>This is a sample blog site using 
            Express.js and EJS
         </p>
        </div>

        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">new Blog</a></li>
        </ul>
    </nav> -->

    <div class="about content">
        <h2>About US</h2>

        <p>You're welcome, Yashar! I'm here to help with any questions you have, whether they're about Bayes' theorem or any other topic. 
            Feel free to ask as many questions as you need. Understanding concepts like Bayes' theorem can greatly enhance your skills as 
            a computer science student and web developer. I'm here to provide explanations, examples, and guidance whenever you need it.</p>
    
    
            <p>You're welcome, Yashar! I'm here to help with any questions you have, whether they're about Bayes' theorem or any other topic. 
                Feel free to ask as many questions as you need. Understanding concepts like Bayes' theorem can greatly enhance your skills as 
                a computer science student and web developer. I'm here to provide explanations, examples, and guidance whenever you need it.</p>
        
                <p>You're welcome, Yashar! I'm here to help with any questions you have, whether they're about Bayes' theorem or any other topic. 
                    Feel free to ask as many questions as you need. Understanding concepts like Bayes' theorem can greatly enhance your skills as 
                    a computer science student and web developer. I'm here to provide explanations, examples, and guidance whenever you need it.</p>
            </div>

            <%- include('./partials/footer.ejs') %>
    
</body>
</html>
