
.App {
  text-align: center;
 margin: 20px;
  /* border: 1px solid black; */
}

/* .list{
  border-bottom: 3px solid rgb(225, 40, 40);
} */


ul{
  
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  list-style: none;
  padding-top: 60px;
}
li{
  display: flex;
  flex-direction: column;
  width: calc(25% - 25px); /* Adjust the width as needed */
  background-color: #f0f0f0;
  border: 1px solid #000000;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
  
}

